/*
Theme Name: Rannu kogudus
Layout: Teema kujundus
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Header
# Main navigation
# Content
# Posts and pages

+ Mobile views
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

body {
    margin: 0;
    color: #000;
    background: #eee;
    font-family: 'Merriweather Sans', sans-serif; 
    padding: 0px;
}

/*
	==========================================
	Header
	==========================================
*/

.site-branding{
    text-align: center;
}

.site-title{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


.site-description{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    
}

.site-title a{
    color: #fff;
    text-shadow: 2px 2px #f00;
}

@media screen and (max-width: 500px) {
    .site-branding{ 
        padding: 0; 
    }
    
    .site-title{
        font-size: 30px;
    }

    .site-description{
        font-weight: 100;
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .site-branding{ 
        padding: 0; 
    }
    
    .site-title{
        font-size: 30px;
    }

    .site-description{
        font-weight: 100;
        font-size: 16px;
    }
}

/*
	==========================================
	Main navigation
	==========================================
*/
.main-navigation { 
        clear: both; 
        display: block; 
        float: left; 
        width: 100%;     
    font-family: 'Merriweather Sans', sans-serif;     
    background: linear-gradient(#fd0000, #9e0000);
    position: relative; 
    padding-left: 10%;
} 

.main-navigation a { 
        display: block; 
        color: #fff;     
    padding: 20px 10px;
    font-size: 14px;     
    text-decoration: none;
    float: center;
} 

.menu-item a {
    padding-left: 25px;
    padding-right:25px;
}

/*Rippmenyy*/
.main-navigation ul ul { 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); 
    float: left; 
    position: absolute; 
    top: 61px; 
    left: -999em; 
    z-index: 99999;     
    background: linear-gradient(#fd0000, #9e0000); 
    
}
 
/*Aktiivriba*/ 
.main-navigation li:hover > a {
    color: #fff; 
    background: #4d4d4d;
    
}  

.main-navigation ul ul a:hover {
    background: #4d4d4d;
}  
 
.main-navigation .current_page_item > a, 
.main-navigation .current-menu-item > a, 
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover, 
.main-navigation .current_page_ancestor > a {  
    background: #eee;    
    color: #313131; 
} 

/* Small menu */ 
.menu-toggle { 
    display: none; 
}  

@media screen and (max-width: 600px) {
    .menu-toggle, 
        .main-navigation.toggled .nav-menu { 
            display: block; 
        }   
        
        .main-navigation ul { 
            display: none;         
            padding-left: 0; 
        } 
        
        .main-navigation li { 
            float: none; 
        }   
        
        .main-navigation li a { 
            padding: 13px 20px; 
        }   
        
        .main-navigation li li a { 
            padding-left: 40px; 
        }   
        
        .main-navigation li li li a { 
            padding-left: 60px; 
        }   
        
        .main-navigation li:hover > a { 
            background: #313131; 
        } 
        
        .main-navigation ul ul, 
        .main-navigation ul ul ul { 
            position: relative; 
            top: inherit; 
            left: 0; 
            display: block; 
            float: none;
            background: #313131; 
        }   
        
        .main-navigation ul ul a {        
            width: 100%;     
        } 
        .main-navigation ul a:hover, 
        .main-navigation ul ul a:hover {
            background: #4d4d4d; 
        }   
        
        .main-navigation ul ul 
        .current_page_parent { 
            color: inherit; 
            background: inherit; 
        }   
} 

/*
	==========================================
	Content
	==========================================
*/

.content-area {
	float: center;
	width: 80%;
    margin: auto;
	
}
.site-main {
    background: #fff;
    
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 340px;
    padding: 2em;
    background: #fff;
}
.site-footer {
	clear: both;
	width: 100%;
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation,
.page-header {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2em;
}

.site-info{
    margin-left: 220px;
    margin-right: 220px;
    text-align: justify;
}

/*Pealkirjade vormindamine*/

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin-bottom: .4em; }

.entry-content h1 { font-size: 32px; }
.entry-content h2 { font-size: 30px; }
.entry-content h3 { font-size: 28px; }
.entry-content h4 { font-size: 26px; }
.entry-content h5 { font-size: 24px; }
.entry-content h6 { font-size: 22px; }

/*--------------------------------------------------------------
 Posts and pages
--------------------------------------------------------------*/
.entry-title {
    font-size: 36px;
    color: #000;
    padding-top: 10px;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    font-size: 18px;
    line-height: 1.4em;
    text-align: justify;
}

.entry-content blockquote p {
    font-size: 26px;
    line-height: 1.4em;
}

.entry-content a { 
    text-decoration: underline; 
}

@media screen and (max-width: 680px){
    .entry-title{
        font-size: 28px;
        line-height: 1.0em;
    }
    .entry-content h1{ font-size: 26px; }
    .entry-content h2{ font-size: 24px; }
    .entry-content h3{ font-size: 22px; }
    .entry-content h4{ font-size: 20px; }
    .entry-content h5{ font-size: 18px; }
    .entry-content h6{ font-size: 16px; }

    .entry-content p,
    .entry-content ul,
    .entry-content ol{
        font-size: 18px;
        
    }
    
    .entry-content blockquote p{
        font-size: 22px;
        line-height: 1.3em;
    }
}
